<nav>
    <ul>
        {{#if isAdminView}}
            <a href="/">Volver</a>
            <form action="/api/session/logout" method="POST" style="display:inline;">
                <button type="submit">Cerrar Sesión</button>
            </form>
        {{else}}
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/cart">Carrito</a>
            {{#if user}}
                <a href="/logout">Cerrar Sesión</a>
                <a href="/admin/users">Administrar Usuarios</a>
            {{else}}
                <a href="/login">Iniciar Sesión</a>
                <a href="/register">Registrarse</a>
            {{/if}}
            <a href="/">Volver</a>
        {{/if}}
    </ul>
</nav>